<ul>
    <div class="listed-film">
            <%= film.title %>
            <%= film.price %>
        <% end %>
    </div>
</ul>


# <div class="listed-film">
#     <% @films.each do |film| %
#     <li><a href="/film/<%= film.id %>">
#     <%= film.title %></a> | <%= film.price %></li>
#     <% end %>
#     </div>
#     </ul>